body { 
    margin: 0px;
    padding: 0px;
    background: #4285F4;
    font-family:'Open Sans', sans-serif;
    overflow-x: hidden;
}

/* XXXXXXXX    HEADER    XXXXXXXXXXX*/

#fondo {
    position: relative;
    background-image: url(../img/img01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

header a {
    display: inline-block;
    margin: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.5px;
}

nav {
    float: right;
    margin: 12px 20px;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header li a {
    display: block;
    color: white;
    margin: 5px;
    font-size: 16px;
    padding: 7px;
}

.centrar:before {
    content: "";
    display: block;
    clear: both;
}

.centrar {
    position: absolute;
    width: 70%;
    text-align: center;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    color: white;
}

h2 {
    font-size: 38px;
    letter-spacing: 1px;
    font-weight: 700;
}

h3 {
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 600;
}

.centrar span {
    display: block;
}

/* XXXXXXXX    ABOUT    XXXXXXXXXXX*/

#about div {

    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
}

#about img {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 5px;
}

#about {
    display: block;
    margin: 10px;
    padding: 10px 0px;
}

#about p {
    margin-top: 0px;
    background-color: #fff;
    color: #6b7c93;
    font-size: 17px;
    font-weight: 700;
    padding: 35px 10px 5px;
    border-radius: 5px;
}

#about p a {
    color: #4285F4;
    display: inline-block;
}

#work {
    display: block;
    margin: 10px;
    content: "";
    clear: both;
}

.sect .caja {
    margin: 20px 0px;
    background-color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

section h3 {
    padding: 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.sect img {
    display: block;
    width: 100%;
}

.sect h4 {
    text-align: center;
    margin: 40px 0 30px;
}

.sect h4 a {
    text-decoration: none;
    font-size: 21px;
    color: #3c424f;
}

section div p {
    color: #6b7c93;
    font-size: 17px;
    font-weight: 700;
    padding: 0px 10px;
}

/* XXXXXXXX    CONTACT    XXXXXXXXXXX*/
#contact {
    display: block;
    margin: 10px;
    padding: 20px 0px;
}

#imgfondo {
    display: none;
}

form {
    padding: 0px 20px;
}

form input {
    display: block;
    margin-bottom: 25px;
    width: 75%;
    height: 30px;
    border-radius: 5px;
    padding: 5px 0 5px 8px;
    border: 1px solid black;
    color: #000000;
    font-size: 16px;

}

form textarea {
    margin-bottom: 30px;
    width: 100%;
    padding: 8px 0 5px 8px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
}

form input[type="submit"] {
    width: 20%;
    height: 35px;
    max-width: 125px;
    font-size: 17px;
    color: #3c424f;
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: background 1s, color 1s;
    -webkit-transition: background 1s;
}

form input[type="submit"]:hover {
    color: #ffffff;
    background: #4285F4;
    border: 1px solid #ffffff;

}

input::-webkit-input-placeholder {
    font-size: 16px;
    color: #3c424f;
    font-family: 'Open Sans', sans-serif;
}

input:-moz-placeholder {
    font-size: 16px;
    color: #3c424f;
    font-family: 'Open Sans', sans-serif;
}

input:-ms-input-placeholder {
    font-size: 16px;
    color: #3c424f;
    font-family: 'Open Sans', sans-serif;
}

textarea::-webkit-input-placeholder {
    font-size: 16px;
    color: #3c424f;
    font-family: 'Open Sans', sans-serif;
}

textarea:-moz-placeholder {
    font-size: 16px;
    color: #3c424f;
    font-family: 'Open Sans', sans-serif;
}

textarea:-ms-input-placeholder {
    font-size: 16px;
    color: #3c424f;
    font-family: 'Open Sans', sans-serif;
}

#success{
    font-size: 17px;
    margin-top: 40px;
    color: black;
    background-color: #00b300;
    padding: 5px;
    display: none;
}

#fail{
    font-size: 17px;
    margin-top: 40px;
    color: black;
    background-color: #ff1a1a;
    padding: 5px;
    display: none;
}

/* XXXXXXXX    FOOTER    XXXXXXXXXXX*/
footer {
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    margin-top: 35px;
    padding-top: 30px;
}

footer ul {
    text-align: center;
    width: 70%;
    padding: 0px;
    transform: translateX(-50%);
    margin-left: 50%;
}

footer ul li {
    display: inline-block;
    list-style: none;
    margin-right: 5px;
}

footer ul li a span {
    display: block;
    height: 100%;
    width: 35px;

}

footer ul li a {
    display: inline-block;
    width: 40px;
    height: 35px;
    background: #4285F4;
    color: #ffffff;
    padding-top: 10px;
    border-radius: 4px;
}

/* ____________  PRIMERA MEDIA SCREEN ___________*/

@media (min-width: 768px) {

    nav {
        margin: 30px;
    }

    header li {
        display: inline;
    }

    header li a {
        display: inline;
        margin: 5px;
        text-decoration: none;
    }

    #work .izq {
        float: left;
        width: 46%;
        margin-top: 0px;
        min-height: 480px;
    }

    #work .der {
        float: right;
        width: 46%;
        margin-top: 0px;
        min-height: 480px;
    }



}

/* ___________  SEGUNDA MEDIA SCREEN _____________*/

@media (min-width: 992px) {

    #cont {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1250px;
        padding: 0px;
        font-size: 0px;
    }

    #contact {
        clear: both;
    }

    h2 {
        font-size: 55px;
        letter-spacing: 1px;
        font-weight: 700;
    }

    h3 {
        font-size: 45px;
        letter-spacing: 1px;
        word-spacing: 8px;
    }

    .centrar span {
        display: inline;
    }

    .sect .caja {
        padding: 20px 20px;
    }

    #work .izq {
        float: left;
        display: inline-block;
        width: 28%;
        margin-right: 1.5%;
        margin-bottom: 50px;
    }

    #work .der {
        float: left;
        display: inline-block;
        width: 28%;
        margin-right: 1.5%;
        margin-bottom: 50px;
    }

    #work .marg {
        margin-right: 0px;
        float: left;
    }

    #work .marg {
        margin-right: 0px;
        float: left;
    }

    #centrar {
        width: 98%;
        position: relative;
        top: 0;
        left: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 800px;
        margin-left: 0.7%;
    }

    #about div {
        background-color: #ffffff;
        display: block;
        width: 98%;
        height: 550px;
        border-radius: 5px;
        padding-top: 60px;
    }

    #about p {
        display: inline-block;
        float: left;
        width: 45%;
        padding: 15px 20px 5px 25px;
        font-size: 20px;
    }

    #about img {

        display: inline-block;
        float: right;
        margin: 20px 25px 0px 0px;
        width: 45%;
    }

    /*   XXXXXXXXXXXXXXXXX   CONTACT XXXXXXXXX  */

    #contact {
        position: relative;
        left: 0;
        top: 0px;
        height: 800px;
    }

    #imgfondo {
        display: block;
        width: 100%;
        height: 700px;
        opacity: 0.3;
    }

    #imgfondo img {
        display: block;
        min-height: 580px;
        width: 100%;
    }

    form {
        position: absolute;
        top: 220px;
        left: 25%;
        width: 45%;
        z-index: 2;
    }
    form input[type="submit"] {
        margin-top: 20px;
        font-size: 20px;
    }
    footer ul li {
        margin-right: 10px;
    }


}